In [9]:
import sqlite3
import pandas as pd
from db_setup import setup_database, modify_random_usage

invoices, usage, customers = setup_database()
print("Przykładowe dane dotyczace faktur:")
display(invoices.head())
print("Konstrukcja kolumny Description z tabeli invoices")
display(invoices['Description'][0])

print("Przykładowe dane zużycia energii:")
display(usage.head())

print("Przykładowe dane klientów:")
display(customers.head())

random_index, random_customer_id, old_usage, new_usage, modified_record = modify_random_usage(usage)

print(f"Stara wartość zużycia dla rekordu {random_index} klienta {random_customer_id}: {old_usage}")
print(f"Nowa wartość zużycia dla rekordu {random_index} klienta {random_customer_id}: {new_usage}")

print("Zmodyfikowany rekord:")
display(modified_record)

conn = sqlite3.connect(':memory:')
invoices.to_sql('invoices', conn, index=False)
usage.to_sql('usage', conn, index=False)
customers.to_sql('customers', conn, index=False)
def sqlquery(query, conn = conn):
    return pd.read_sql_query(query, conn)

Przykładowe dane dotyczace faktur:

,InvoiceID,CustomerID,POD,Usage,Amount,PaymentStatus,StartDate,EndDate,PostingDate,DueDate,PaymentDate,Description
0,INV100000,CU10000,SP117682,2448,3516380.64,Pending,2024-08-01,2024-08-31 23:59:59.999999999,2024-09-09 23:59:59.999999999,2024-09-16 23:59:59.999999999,NaT,"Supply from 2024-08-01 to 2024-08-31, SPID: SP..."
1,INV100001,CU10000,SP129696,391,175054.61,Paid,2024-05-01,2024-05-31 23:59:59.999999999,2024-06-08 23:59:59.999999999,2024-06-15 23:59:59.999999999,2024-06-12 23:59:59.999999999,"Supply from 2024-05-01 to 2024-05-31, SPID: SP..."
2,INV100002,CU10000,SP183104,806,371520.33,Pending,2025-01-01,2025-01-31 23:59:59.999999999,2025-02-21 23:59:59.999999999,2025-02-28 23:59:59.999999999,NaT,"Supply from 2025-01-01 to 2025-01-31, SPID: SP..."
3,INV100003,CU10000,SP184134,8402,7753743.69,Pending,2023-12-01,2023-12-31 23:59:59.999999999,2024-01-07 23:59:59.999999999,2024-01-14 23:59:59.999999999,NaT,"Supply from 2023-12-01 to 2023-12-31, SPID: SP..."
4,INV100004,CU10000,SP184134,620,435438.40,Pending,2024-01-01,2024-01-31 23:59:59.999999999,2024-02-12 23:59:59.999999999,2024-02-19 23:59:59.999999999,NaT,"Supply from 2024-01-01 to 2024-01-31, SPID: SP..."

Konstrukcja kolumny Description z tabeli invoices

'Supply from 2024-08-01 to 2024-08-31, SPID: SP117682, Usage: 2448 kWh/m³, Avg. Price: 1436.43/unit'

Przykładowe dane zużycia energii:

  CustomerID       Date Type  Usage  Price_per_unit       POD
0     CU5940 2024-10-30  Gas    448          380.58  SP151631
1     CU5940 2024-11-21  Gas    667          317.47  SP151631
2     CU8978 2024-09-29  Gas    788          431.50  SP259288
3     CU8978 2024-09-19  Gas    795          299.15  SP259288
4     CU5114 2023-06-25  Gas    789          319.57  SP218099

Przykładowe dane klientów:

,CustomerID,Name,Address,Phone,Email
0,CU1000,Grupa Namysło,aleja Fredry 479\n25-890 Łuków,+48 663 999 060,malwina15@example.com
1,CU1001,Fundacja Lalak i syn s.c.,al. Leśna 02/54\n42-846 Kościerzyna,+48 789 046 732,hubert44@example.org
2,CU1002,Domżał-Rakus S.A.,ul. Cicha 117\n59-985 Ostrowiec Świętokrzyski,512 552 930,juliuszmaslankiewicz@example.com
3,CU1003,Gortat Sp. z o.o.,pl. Mazurska 68/55\n11-789 Płock,513 162 165,cszymaniuk@example.net
4,CU1004,Ślimak-Zacharek Sp. z o.o.,pl. Orzeszkowej 634\n58-263 Koszalin,+48 691 741 039,gladkanatasza@example.net

Stara wartość zużycia dla rekordu 253626 klienta CU11245: 602
Nowa wartość zużycia dla rekordu 253626 klienta CU11245: 1570
Zmodyfikowany rekord:

CustomerID                    CU11245
Date              2025-01-23 00:00:00
Type                              Gas
Usage                            1570
Price_per_unit                  405.3
POD                          SP176341
Name: 253626, dtype: object

# Witamy na rozmowie rekrutacyjnej
## Stanowisko: Financial Data Analyst w Axpo Polska

Cieszymy się, że zdecydowałeś/aś się wziąć udział w naszym procesie rekrutacyjnym. Przedstawiamy Ci case study, w którym będziesz mógł/mogła zaprezentować swoje umiejętności analityczne i dbałość o najwyższą jakość obsługi klienta.

---

## Opis Case Study

W naszej bazie danych znajdują się trzy kluczowe tabele:

- **Customers**: Zawiera dane teleadresowe klientów, w tym imię, nazwisko, adres, numer telefonu i adres e-mail.
- **Usage**: Rejestruje zużycie mediów (np. energii elektrycznej) przez klientów w określonych okresach.
- **Invoices**: Zawiera informacje o fakturach wystawionych klientom, w tym dane dotyczące zużycia oraz kwoty do zapłaty.

Twoim zadaniem jako analityka danych jest **sprawdzenie poprawności zafakturowania**. Podejrzewasz, że przynajmniej jedna faktura została wystawiona na podstawie błędnych danych dotyczących zużycia.

---

## Zadania do Wykonania

1. **Weryfikacja danych**:
   - Przeanalizuj tabelę `invoices` i porównaj odnotowane zużycie z danymi zawartymi na fakturach w tabeli `usage`.
   - Zidentyfikuj wszelkie niezgodności, które mogą wskazywać na błędne zafakturowanie.

2. **Identyfikacja błędnego przypadku**:
   - Znajdź konkretny przypadek (lub przypadki), w którym dane z tabeli `usage` nie odpowiadają wartościom na fakturze.
   - Sprawdź, czy błąd wynika z błędnie zarejestrowanego zużycia lub innej nieprawidłowości.

3. **Przekazanie informacji do Customer Care**:
   - Wyekstrahuj dane teleadresowe klienta z tabeli `customers`, dla którego wykryto niezgodności.
   - Przygotuj zestawienie z danymi kontaktowymi, które zostanie przekazane do zespołu Customer Care.
   - Zespół Customer Care skontaktuje się z klientem w celu przeprosin i wyjaśnienia sytuacji.
   - Zespół Customer Care chciałby otrzymać dane w pliku csv

---



## Podsumowanie

Twoja rola jako Financial Data Analyst w Axpo Polska polega nie tylko na analizie danych, ale również na dbałości o relacje z klientami. Wykrywanie i korygowanie błędów w procesie fakturowania jest kluczowe dla utrzymania wysokich standardów obsługi klienta. Wierzymy, że dzięki Twoim umiejętnościom uda Ci się zidentyfikować problematyczny przypadek i przekazać niezbędne informacje do zespołu Customer Care, który osobiście skontaktuje się z klientem.

Dziękujemy za Twoje zaangażowanie i życzymy powodzenia podczas rozmowy rekrutacyjnej!

In [16]:
query = """
SELECT 
    u.* 
FROM 
    usage u
WHERE 
    1=1
    AND CustomerID = 'CU5940'
LIMIT 
    10
"""
sqlquery(query)

  CustomerID                 Date   Type  Usage  Price_per_unit       POD
0     CU5940  2024-10-30 00:00:00    Gas    448          380.58  SP151631
1     CU5940  2024-11-21 00:00:00    Gas    667          317.47  SP151631
2     CU5940  2024-04-05 00:00:00    Gas    185          497.43  SP165546
3     CU5940  2024-04-21 00:00:00    Gas    635          349.39  SP165546
4     CU5940  2024-04-13 00:00:00    Gas    733          344.95  SP165546
5     CU5940  2024-01-30 00:00:00  Power   2338         1612.97  SP143241
6     CU5940  2024-02-13 00:00:00  Power   1653         1750.29  SP143241
7     CU5940  2024-02-19 00:00:00  Power    364         1756.07  SP143241
8     CU5940  2024-01-29 00:00:00  Power   1762         1779.35  SP143241
9     CU5940  2024-02-01 00:00:00  Power    396          788.14  SP143241